.Entertainment {
   height: 50px;
   float: left;
   background: orange;
}
.Car {
   height: 50px;
   float: left;
   background: blue;
}
.Food {
   height: 50px;
   float: left;
   background: green;
}
.chart {
   height: 50px;
   width: 80%;
   border: 2px solid;
   border-radius: 50px;
   overflow: hidden;
   margin: 0 auto 30px;
}
.orange {
   background: orange;
   width: 25px;
   height: 25px;
   display: inline-block;
   vertical-align: middle;
   margin-right: 10px;
   border: 2px solid;
}
.blue {
   width: 25px;
   height: 25px;
   background: blue;
   display: inline-block;
   vertical-align: middle;
   margin-right: 10px;
   border: 2px solid;
   margin-left: 30px;
}
.green {
   width: 25px;
   height: 25px;
   background: green;
   display: inline-block;
   vertical-align: middle;
   margin-right: 10px;
   border: 2px solid;
   margin-left: 30px;
}
.colorCategory {
   width: 100%;
   margin: auto;
   overflow: hidden;
}
.colorCategory p {
   display: inline-block;
}
