.CurrentCost {
   overflow: hidden;
   border: 2px solid;
   border-radius: 40px;
   margin-bottom: 20px;
   padding: 15px 40px;
}
.name {
   float: left;
   margin: 30px 0 5px;
}
.remove {
   float: right;
   margin-left: 20px;
   font-weight: bold;
   border-radius: 5px;
   color: darkolivegreen;
   border: none;
}
.price {
   float: right;
   margin: 30px 0 5px;
   font-style: italic;
}
.category {
   margin: 0;
   font-weight: normal;
}
