.AddController {
   padding: 15px;
   overflow: hidden;
   width: 40%;
   margin: 0 auto 20px;
}
.welcome {
   font-weight: bold;
   margin-bottom: 30px;
   font-size: 20px;
   color: darkblue;
   padding-bottom: 10px;
   border-bottom: 2px solid;
}
.ItemName {
   float: left;
   margin-right: 15px;
   width: 100px;
   height: 40px;
   border-radius: 10px;
   border: 2px solid darkblue;;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 15px;
}
input:focus::-webkit-input-placeholder {
   color: transparent;
}
.EnterCost {
   float: left;
   margin-right: 45px;
}
.Cost {
   width: 50px;
   height: 40px;
   border-radius: 10px;
   border: 2px solid darkblue;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 15px;
}
.AddBtn {
   float: right;
   margin-left: 20px;
   width: 70px;
   height: 50px;
   font-weight: bold;
   text-transform: uppercase;
   color: darkblue;
   border-radius: 10px;
   border: 2px solid darkblue;
}
.select {
   float: left;
   width: 140px;
   height: 50px;
   font-weight: bold;
   text-transform: uppercase;
   color: darkblue;
   white-space: pre-wrap;
   border-radius: 10px;
   border: 2px solid darkblue;
}